block header
    header(class="navbar navbar-static-top bs-docs-nav", id="top", role="banner")
        div(class="container")
            nav(class="collapse navbar-collapse bs-navbar-collapse", role="navigation")
                ul(class="nav navbav-nav")
                    li
                        a(href="/")= Home
                    li
                        a(href="/ticketlist")= Tickets
                    li
                        a(href="/userlist")= Users

